* {
  font-family: 'Inter', sans-serif;
}

body {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 50%;
  color: white;
  background-color: #101113;
}

a {
  color: #c7C9c7;
  text-decoration: none; /* no underline */
}

a:visited{
  color: #c7C9c7;
  text-decoration: none; /* no underline */
}

a:hover {
  font-style: italic;
}

.italic-break {
  font-style: italic;
}

@media (max-width: 800px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 65%;
  }
}
