* {
  font-family: 'Inter', sans-serif;
}

body {
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 50%;
  color: white;
  background-color: black;
}

.page-links {
  color: blue;
  text-decoration: none; /* no underline */
}

a:visited{
  color: blue;
  text-decoration: none; /* no underline */
}

a:hover {
  font-style: italic;
}

.italic-break {
  font-style: italic;
}
