.title {
  text-align: center;
  font-size: 2px;
  margin-top: 50px;
  color: white;
}

.appcard {
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 70px;
}

.card {
background: white;
color: #292c2f;
}


.spotifyplay {
  margin-left: 90px;
}

body {
  background-image: linear-gradient(to bottom, rgba(22, 199, 82, 1), rgba(0, 209, 131, 1), rgba(0, 216, 173, 1), rgba(0, 223, 209, 1), rgba(18, 227, 235, 1));
}
